@mixin prop($ancho,$alto,$colorLetra) {
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
