
@import "reset";
@import "variables";
@import "navbar";
@import "footer";



.titulo{
    color:$colorLetras;
}


.card2{
    background-color:$colorPrimario;

}
.btn{
    color: black;
    
    }
    


