


@import "reset";
@import "variables";
@import "navbar";
@import "mixin";
@import "tarjetas";
@import "footer";

html, body {
    overflow: auto;
    
}

.titulo{
    display: flex;
    
    
    justify-content:space-around;
    color:black;
    
    }
.contSubtitulo{
    display: flex;
    justify-content:space-around;
    

}
.conteinerEslogan{
    display: flex;
    justify-content:space-around;
.eslogan{
    width: 70%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: black;
    }
}
.cont__navbar{
    padding: 0;
    width: 100%;

}
.carouselContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .carouselImg{
        width: 100%;
    }
    .corouselButton{
        width:100%;
    }
}
.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 10px;
    .cardPersonalizada{
        padding: 10px;
        
    .cards{
        border: 10px;
        .marca{
            font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-weight: 700;
        }
        .estilo{
            font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 600;   
        }
    }
}
    
}
.video{
    width: 900px;
}

.contenedorBanner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .imgBanner{
        margin: 0;
    }
}   
@media(max-width:992px){
    .carouselImg{
        width: 970px;
    }
    .cardPersonalizada{
        width: 20%;
    }
    .video{
        width: 760px;
    }
    .contenedorBanner{
        width: 90%;
    .imgBanner{
        width: 90%;
    }
    }
}


@media(max-width:768px){
    .cardPersonalizada{
        width: 500px;
    }
    
    .carouselImg{
        width: 750px;
    }
    .imgBanner{
        width: 680px;
    }
    .navMovil{
        display: flex;}
    .navBut{
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }
    .video{
            width: 570px;
        }
    .rectanguloContac{
            width: 600px;
        }
        .contenedorListainstructiva{
            width: 600px;
        }
        .formInfo{
            width: 600px;  
        }
    
}
@media(max-width:576px){
    .imgBanner{
        width: 450px;
    }
    .cardPersonalizada{
        width: 480px;
    }
    .cont__navbar{
        display: flex;
    }
    .cardPersonalizada{
        width: 500px;
    }
    .contenedorInfoPer{
        width: 100%;
        .comentario{
            width: 90%;
        }
    }
}   
@media(max-width:488px){
    .imgBanner{
        width: 350px;
    }
    .cardPersonalizada{
        width: 330px;
    }
    .containerNav{
        display: flex;
        .navBut{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
        }
    }
    .video{
        width: 350px;
    }
}
@media(max-width:320px){
    .cardPersonalizada{
        width: 200px;
    }
    .imgNav{
        width: 50%;
    }
    .imgBanner{
        width:240px;
    }
    .carouselImg{
        width: 90%;
    }
    .footer{
        width: 90%;
    }
    .cardPersonalizada{
        padding: 0%;
    }
    .contenedoraVideos{
        width: 75%;
        justify-content: center;
    }
    .contenedorEnlases{
        width: 75%;
        margin: 0%;
    }
    .enlase{
        width: 75%;
    }
    .contenedorBanner{
        width: 90%;
        margin: 0%;
    }
    .rectanguloPedi{
        width: 90%;
    }
    

    
    
}
.containerPelota{
    @include flex-row-center;
    margin: 0;
    width: 90%;
    

}
.cardPelota{
    margin: 0;
}
.cardPelota{
    padding: map-get($justify, padding);
    border: map-get($justify, bordes);
    border-radius: map-get($justify, radio);
    @include prop(300px,auto,black);
}
.cardPelota{
    @extend .cardPelota;
    background-color:white;
    color: black;
    
}
@each $clave, $var in $justify {
        .cardPelota-#{$clave}{
            justify-content: $var;
        }
        
}

.contenedoraVideos{
    width: 90%;
    margin:0%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
    .video{
        padding: 10px;
    }
}
.contenedorEnlases{
    width: 90%;
    border: 0;
    margin: 0;
    padding: 10px;
    .enlase{
        padding: 0;
        .enlaseAcceso{
            padding: 0;
        } 
    }
    
}

.contenedor__promocion{
    width:90%;
}
.descUbicacion{
    background-color:#6E98B8;
    .lugar{
        font-size: 20px;
    }
    .direccion{
        font-size: 20px;

    }
}
.pieDespedida{
    width: 90%;
}
.BannerFP{
    width: 90%;
}
.footer{
    padding: 10px;
    border-radius: 10px;
    border: 10px;
    margin: 5px;
    
    .footerCopy{
        display: flex;
        justify-content: flex-start;
        text-align: start;
        padding-right: 100px;
    }
    .logoFooter{
        width: 150px;
    }
    .Clientes{
        padding: 0;
    }
    
}
.contenedor__promocion{
    margin: 0;
}
.containerPelota{
    padding: 0;
    margin: 0;
}
.cardCalzado{
    margin: 0;
}
.rectanguloPedi{
    background-color: #6E98B8;
    width: 30%;
    border-radius: 10px;
} 
.rectanguloPedi{
    width: 80%;
    border: 10px;
    margin: 5px;
}  
.formInfo{
    background-color: #6E98B8;
    width: 80%;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    .infoPedido{
        border: 5px;
        padding: 5px;
    }
    
}
.rectanguloContac{
    background-color: $colorTerciario;
    display: flex;
    border: 5px;
    margin: 5px;
    width: 80%;
    padding: 10px;
    .contenedorInfoPers{
        display: flex;
        justify-content:space-around;
        .infoPersonal{
        .titContacto{
            color: black;
        }
        .comentario{
            width: 90%;
        }
    }
    }
}
