


@import "reset";
@import "variables";
@import "navbar";
@import "mixin";
@import "tarjetas";
@import "footer";

.titulo{
    color:$colorLetras;
    
}
.cont__navbar{
    padding: 0;

}
.carousel{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    align-items: center

    
    

}


.containerPelota{
    @include flex-row-center;
    margin: 0;
    

}
.cardPelota{
    margin: 0;
}
.cardPelota{
    padding: map-get($justify, padding);
    border: map-get($justify, bordes);
    border-radius: map-get($justify, radio);
    @include prop(300px,auto,black);
}
.cardPelota{
    @extend .cardPelota;
    background-color:white;
    color: $colorLetras;
    
}
@each $clave, $var in $justify {
        .cardPelota-#{$clave}{
            justify-content: $var;
        }
        
}
.cards{
    border: 10px;
    .marca{
        font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
    .estilo{
        font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight: 600;   
    }
}
.contenedoraVideos{
    border: 0;
    margin: 0;
    padding: 0;
    .video{
        padding: 0;
    }
}
.descUbicacion{
    background-color:$colorTerciario;
    .lugar{
        font-size: $tamanioTexto;
    }
    .direccion{
        font-size: $tamanioTexto;

    }
}
.footer{
    padding: 10px;
    margin: 0;
    .footerCopy{
        display: flex;
        justify-content: flex-start;
        text-align: start;
        padding-right: 100px;
    }
    .logoFooter{
        width: 150px;
    }
    .Clientes{
        padding: 0;
    }
    
}
.contenedor__promocion{
    margin: 0;
}
.containerPelota{
    padding: 0;
    margin: 0;
}
.cardCalzado{
    margin: 0;
}.contenedorEnlase{
    padding: 0;
    .enlase{
        padding: 0;
        .enlaseAcceso{
            padding: 0;
        } 
    }
    
}

