* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: #1F4E7A;
}
.container-fluid .navbar-brand {
  background-color: #1F4E7A;
}
.container-fluid a {
  color: #6E98B8;
}

.footer {
  background-color: #327EC7;
}

.titulo {
  color: black;
}

.cont__navbar {
  padding: 0;
}

.containerPelota {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.cardPelota {
  margin: 0;
}

.cardPelota {
  width: 300px;
  height: auto;
  color: black;
}

.cardPelota {
  background-color: white;
  color: black;
}

.cardPelota-start {
  justify-content: start;
}

.cardPelota-center {
  justify-content: center;
}

.cardPelota-end {
  justify-content: end;
}

.cardPelota-around {
  justify-content: space-around;
}

.cardPelota-evenly {
  justify-content: space-evenly;
}

.cardPelota-between {
  justify-content: space-between;
}

.cards {
  border: 10px;
}
.cards .marca {
  font-family: "Roboto Condensed", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.cards .estilo {
  font-family: "Roboto Condensed", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.contenedoraVideos {
  border: 0;
  margin: 0;
  padding: 0;
}
.contenedoraVideos .video {
  padding: 0;
}

.descUbicacion {
  background-color: #6E98B8;
}
.descUbicacion .lugar {
  font-size: 20px;
}
.descUbicacion .direccion {
  font-size: 20px;
}

.footer {
  padding: 10px;
  margin: 0;
}
.footer .footerCopy {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  padding-right: 100px;
}
.footer .logoFooter {
  width: 150px;
}
.footer .Clientes {
  padding: 0;
}

.contenedor__promocion {
  margin: 0;
}

.containerPelota {
  padding: 0;
  margin: 0;
}

.cardCalzado {
  margin: 0;
}

.contenedorEnlase {
  padding: 0;
}
.contenedorEnlase .enlase {
  padding: 0;
}
.contenedorEnlase .enlase .enlaseAcceso {
  padding: 0;
}