* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: #1F4E7A;
}
.container-fluid .navbar-brand {
  background-color: #1F4E7A;
}
.container-fluid a {
  color: #6E98B8;
}

.footer {
  background-color: #327EC7;
}

.titulo {
  color: black;
}

.containerCardPelota {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardPelota {
  width: 300px;
  height: auto;
  color: black;
}

.cardPelota {
  background-color: white;
  color: black;
}

.cardPelota-start {
  justify-content: start;
}

.cardPelota-center {
  justify-content: center;
}

.cardPelota-end {
  justify-content: end;
}

.cardPelota-around {
  justify-content: space-around;
}

.cardPelota-evenly {
  justify-content: space-evenly;
}

.cardPelota-between {
  justify-content: space-between;
}