* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: #1F4E7A;
}
.container-fluid .navbar-brand {
  background-color: #1F4E7A;
}
.container-fluid a {
  color: #6E98B8;
}

.footer {
  background-color: #327EC7;
}

.titulo {
  color: #B0BBC3;
}

.card2 {
  background-color: #1F4E7A;
}

.btn {
  color: black;
}